.main {
  height: calc(100%);
}

.weatherContainer {
  padding: 5px;
  text-align: center;
  margin: auto;
}

.main-container-weather-data {
  width: 55%;
  margin: auto;
}

.footerBin {
  position: relative;
  min-height: 100%;
}